<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cadastro.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
	   <nav id="menu">
		<div class="logo">
            <img src="../imagens/logo.png">
        </div>

		<div id="tx_menu">
			<ul>
				<li><a href="../principal.html">Inicio</a></li>
				<li><a href="parceiros.html">Parceiros</a></li>
				<li><a href="quemsomos.html">Sobre nós</a></li>
				<li><a href="leiAprendiz.html">lei</a></li>
				<li><a href="dicas.html">Dicas</a></li>
				<li><a href="login.html">Entrar</a></li>
			</ul>
		</div>
    </nav>
	<div class="teste"></div>
  <div class="container">
    <div class="title">Cadastro</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nome</span>
            <input type="text" placeholder="Entre com o nome" required>
          </div>
          <div class="input-box">
            <span class="details">Sobrenome</span>
            <input type="text" placeholder="Entre com o sobrenome" required>
          </div>
		   <div class="input-box">
            <span class="details">CPF</span>
            <input type="text" placeholder="Entre com o cpf" required>
          </div>
		   <div class="input-box">
            <span class="details">Data de Nascimento</span>
            <input type="text" placeholder="Entre com a data de nascimento" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Entre com o  email" required>
          </div>
		  <div class="input-box">
            <span class="details">Confirme o seu Email</span>
            <input type="text" placeholder="Confirme o email" required>
          </div>
          <div class="input-box">
            <span class="details">Numero de telefone(celular)</span>
            <input type="text" placeholder="Entre com o numero de telefone" required>
          </div>
		  <div class="input-box">
            <span class="details">Numero de telefone(fixo)</span>
            <input type="text" placeholder="Entre com o numero de telefone(fixo)" required>
          </div>
          <div class="input-box">
            <span class="details">Senha</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
          <div class="input-box">
            <span class="details">Confirme a sua senha</span>
            <input type="text" placeholder="Confirme a sua senha" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Feminino</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Masculino</span>
          </label>

          </div>

		  		<div class="title">Endereço</div>
			<div class="input-box">
            <span class="details">Logradouro</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Cep</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Bairro</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Cidade</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Estado</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Complemento</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Senha</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
		  <div class="input-box">
            <span class="details">Senha</span>
            <input type="text" placeholder="Entre com a sua senha" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Cadastro">
        </div>
      </form>
    </div>
  </div>

</body>
</html>